<br/>
<br/>
<br/>
<br/>

<div class = "container">
  <div class = "row"> 
    <div class = "col"> 
      <h1 class="font-weight-bold"> StudentsPET</h1>
      <h5> Elevate the classroom experience and find its greatest potential</h5>
      <br/>
        <% if user_signed_in? %>
          <%= link_to '+ Create New Course', new_instructor_course_path, class: 'round btn btn-success btn-lg btn-block' %> <!-- Will restrict to students only -->
          <button type="button" class="round btn btn-info btn-lg btn-block">EXPLORE Lesson Plans</button>
          <button type="button" class="round btn btn-warning btn-lg btn-block">Learn More About StudentsPET</button>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'round btn btn-primary' %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'round btn btn-success' %>
        <% end %>
        

    
        

    </div>
    <div class = "col">
      <%= image_tag  'spetlanding.JPG', class: 'img-fluid', style: 'width:70%' %> 
    </div>
  </div>
</div>


    <footer class = "footer">
      <div class = "container " >
       <p class = "text-center font-weight-light"> Prototype :) </p>
      </div>
    </footer>