<br/>
<br/>
<br/>
<br/>

<div class = "container">
  <div class = "row"> 
    <div class = "col"> 
      <h1 class="font-weight-bold"> StudentsPET</h1>
      <h5> Elevate the classroom experience and find its greatest potential</h5>
      <br/>
      <button type="button" class="btn btn-primary">Login</button>
      <button type="button" class="btn btn-success">New User</button>
    </div>
    <div class = "col">
      <%= image_tag  'spetlanding.JPG', class: 'img-fluid', style: 'width:70%' %> 
    </div>
  </div>
</div>


    <footer class = "footer">
      <div class = "container " >
       <p class = "text-center font-weight-light"> Prototype :) </p>
      </div>
    </footer>