

<br/>

<div class = "container">
  <div class = "row"> 
    <div class = "col"> 
      <h1 class="font-weight-bold"> StudentsPET</h1>
      <h5> Elevate the classroom experience and find its greatest potential</h5>
      <br/>
        <% if user_signed_in? %>
          <%= link_to '+ Create New Course', new_instructor_course_path, class: 'round btn btn-success btn-lg btn-block' %> 
          <%= link_to 'EXPLORE Lesson Plans', courses_path, class: "round btn btn-info btn-lg btn-block" %>
        <% end %>
        

    
        

    </div>
    <div class = "col">
      <%= image_tag  'spetlanding.JPG', class: 'img-fluid', style: 'width:70%' %> 

     </div>
  </div>
</div>


    <footer class = "footer">
      <div class = "container " style = "text-align: center;" >
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
          Coming Soon
        </button> 
      </div>
    </footer>






<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Coming Soon!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li> Search Functions</li>
          <li> Currently Attachments cannot be uploaded for download by others </li>
        </ul>
        <div style = "font-weight: bold;">Last Major Update on July 9th, 2020 </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>