



<div class = "col landing-bg landing-box">
  <h1>StudentsPET</h1>
  <h6>A great resource for your educational needs</h6>
  <h4>Let's get started!</h4>
  <br/>
  <%= link_to 'Begin Exploring Courses', courses_path, class: 'btn btn-success btn round' %>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class = "container">
<div class = "row">
    <div class = "col landing-content-box" >
    <h1>What is StudentsPET?</h1>
    <br/>
    <p>StudentsPET is a learning management system which allows users to explore courses, create lessons, share ideas, and organize their learning.<p>

    <% if user_signed_in? == false %>
        <%= link_to 'Join Us!', new_user_registration_path, class: 'btn btn-info round' %>
    <% end %>
    </div>


    <div class = "col landing-content-box">
       <%= image_tag 'spetlanding3.JPG', class: 'img-fluid'  %>

    </div>
</div>
</div>


    <footer class = "footer">
      <div class = "container " style = "text-align: center;" >
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong">
          Version Details
        </button> 
      </div>
    </footer>






<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Version 0.0.1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li> Prototype Version</li>
          <li> Currently Attachments cannot be uploaded for download by others </li>
        </ul>
        <div style = "font-weight: bold;">Last Major Update: July 15th, 2020 </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>