 <script src="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"></script>



<br/> 
<div class = 'col-8 offset-2'>
  <h1> Add new section </h1>

  <%= simple_form_for @section, url: instructor_course_sections_path(@course) do |f| %>
    <%= f.input :title %>
    <%= f.input :content, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Full' } %>
    <%= f.submit "Add Section" %>
  <% end %>
</div>
<br/>