<br/>
<div class = "col-8 offset-2" >
  <p> <%= link_to "Explore", courses_path %> / <%= link_to @section.course.title, course_path(@section.course.id) %> / <%= @section.title %><p>
  <hr/>
  <h1> <%= @section.title %></h1>


</div>

