<br/>

<div class = "box col-10 offset-1">
  <h1>MY DASHBOARD</h1>
  <h4> <%= current_user.email %></h4>
  <%= link_to '+ Create New Course', new_instructor_course_path, class: 'round btn btn-success btn-lg ' %>
</div> 